<section class="login flex justify-center">
<div class=" flex items-center justify-center bg-white px-4 sm:px-6 lg:px-8 my-20">
  <div class="">
    <div>
        <h2 class=" text-center text-3xl font-extrabold text-gray-900">
        Sign in to your account
      </h2>
      
    </div>
    <form class="mt-8 space-y-6" action="/login" method="POST">
      <% if(messages.error) { %>
        <span class="text-red-500 text-sm"><%= messages.error %></span>
        <% } %>
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" type="email" autocomplete="email" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:z-10 sm:text-sm" placeholder="Email address">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" autocomplete="current-password" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:z-10 sm:text-sm" placeholder="Password">
        </div>
      </div>
      <div class="flex justify-between ">
      <div>
        <button type="submit" class="group btn-primary relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-2">
          Sign in
        </button>
      </div>

      <div class="items-center">
          <div class="text-sm mt-4">
             <a href="/register" class="font-medium ">
                Don't have account?
             </a>
          </div>
      </div>
      </div>

      
    </form>
  </div>
</div>

</section>